
body{
    font-family: sans-serif, Arial;
}
main{
    height: 100vh;
    width: 100%;
    background-color: #ced5f0;
    
    display: flex;
    justify-content: center;
    align-items: center;

}

.card{
    border-radius: 3% ;
    background-color: #fff;
    width: 600px;
    height: 730px;
}

.content{
    margin: 1% 10% 2% 10%;
    
}

.head{
    width: 480px;
    
}

.icon{
    display: flex;
    justify-content: end;
    font-size: 45px;
    color: #367bf6;
    position: relative;
    right: 100px;
    top: 50px;
}

.title{
    font-weight: 900;
    font-size: 60px;
    text-align: center;
}

.sub-title{
    
    font-size: 30px;
    
}

.text{
    margin-top: -16px;
    font-size: 15px;
    color: #54575B;
}

.linea{
    margin-top: 30px;
    margin-bottom: 30px;
    border-bottom: #E1E3E3 solid 1px;
    width: 470px;
    
}

/* Titulos Terminados */

.label{
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 30px;
}

.input{
    margin-top: 18px;
    margin-bottom: 20px;
    border: #B6BBC4 solid 1px;
    border-radius: 8px;
    height: 50px;
    width: 470px;
}

/*Comienzo de boton*/

.login{
    width: 480px;
    height: 50px;

    background-color: #367bf6;
    color: #fff;

    border: none;
    border-radius: 6px;

    font-size: 14px;

    transition: 0.3s ease-in;
}
.login:hover{
    background-color: #2306cc;
    scale: 1.06;
}

/*Formulario Realizado*/

.footer{
    margin-top: 40px;
    text-align: center;
    font-size: 13px;
    color: #54575B;
}

.footer p a{
    color: #000;
    text-decoration: none;
    font-weight: 700;
    transition: 0.3s ease;
}
.noRegister:hover{
    font-weight: 800;
}